$width-break-900: 900px;
$width-break-500: 500px;
$width-break-350: 350px;

$bg: #272935;
$fg: #eff0ea;
$yellow: #f3f99c;
$green: #5af78d;
$blue: #5DC8FC;

* {
  box-sizing: border-box;
}

svg path {
  stroke: currentColor;
  fill: currentColor;
}

body {
  font-family:  Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif; /* https://modernfontstacks.com */
  padding-top: 10%;
  margin-bottom: 5%;
  line-height: 1.55;
  background-color: $bg;
  color: $fg;
  letter-spacing: 0.1px;

  @media screen and (max-width: $width-break-500) {
    padding-top: 20px;
  }
}

h1 {
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif; /* https://modernfontstacks.com */
  margin-bottom: 5px;
  color: $green;
  line-height: 1.3;
}

h2, h3 {
  font-weight: 500;
  margin-top: 35px;
  color: $green;
  font-size: 21px;
}

a {
  color: inherit;

  &:hover {
    text-decoration: underline;
  }

}

.place-icon {
  display: inline-block;
  position: relative;
  top: 5px;

  svg path {
    fill: transparent;
  }
}

ul {
  padding-left: 8px;
}

li {
  list-style-type: none;
  margin-left: 0;

  &::before {
    content: '-';
    display: inline-block;
    width: 10px;
  }
}

#main-body {
  max-width: 600px;
  margin: auto;
  padding-left: 120px;
  position: relative;

  @media screen and (max-width: $width-break-900) {
    padding-left: 80px;
    padding-right: 80px;
  }

  @media screen and (max-width: $width-break-500) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (max-width: $width-break-350) {
    padding-left: 20px;
    padding-right: 20px;
  }

}

.photo {
  $photo-size: 150px;
  width: $photo-size;
  height: $photo-size;
  position: absolute;
  padding: $photo-size / 4;
  text-align: center;
  left: -($photo-size - 70px);
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: $photo-size / 2;
  font-size: 14px;

  @media screen and (max-width: $width-break-900) {
    display: none;
  }
}

.what-i-am {
  color: $yellow;
}

.place {
  color: $blue;
}

